.card{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(82,194,176);
    background: radial-gradient(circle, rgba(82,194,176,1) 0%, rgba(95,70,156,1) 100%);
    border: 2px solid #B38728;
    position: relative;
}

.card img{
    max-width: 260px;
    height: auto;
    position: absolute;
    bottom: 55px;
}

.card h3{
    padding: 10px;
    font-size: 26px;
    background: #FFF;
    color: rgb(131, 6, 46);
    position: absolute;
    bottom: 26px;
    text-align: center;
}

.card p{
    font-size: 15px;
    font-weight: 500;
}

.position{
    position: absolute;
    top: 0;
}

.club{
    position: absolute;
    bottom: 105px;
}

.age{
    padding: 10px;
    background-color: rgb(131, 6, 46);
    position: absolute;
    bottom: 0;
    font-size: 18px !important;
}